td small {
	color: #887;
}

tr.selected td small {
	color: #bbb;
}

th[title], td[title] {
	cursor: help;
}

table.languages tr.selected.current td, table.translations.deleting tr.selected td {
	border-color: #c33 !important;
	background-color: #b33 !important;
}

table.translations {
	margin-top: 0px;
	margin-bottom: 1.75em;
}

table.translations tr td:first-child {
	width: 52%;
}

